* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

header {
    background-color: lightcoral;
}

main {
    flex: 1 0 auto;
}

#hero {
    height: 600px;
    width: 100%;
    background: url('pexels-gustavo-fring-4173104.jpg') no-repeat center center-cover;
    position: relative;
    z-index: 99;
}

#text-box {
    background-color: gray;
    position: absolute;
}

footer {
    background-color: orange;
}

#contact-button {
    padding: 1px 6px;
    border: 1px black solid;
    border-radius: 3px;
    text-decoration: none;
}

label, input {
    display: flex;
    flex-direction: column;
}